<div class="row">
  <div class="col-md-12">
    <div class="card mb-2 box-shadow">
      <div class="card-header">Yannick Durden</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p>
              <img
                class="float-right"
                src="assets/images/batman_face.png"
                alt="batman_face"
              />
              <a href="https://github.com/YannickDurden">https://github.com/YannickDurden</a>
              <br>
              <a href="https://surlescocottes.xyz">https://surlescocottes.xyz</a>
              <br><br>
              <em>This is a fan site made on Earth with <span class="heart">&hearts;</span></em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="card mb-2 box-shadow">
      <div class="card-header">SpaceX Informations</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p>All informations about SpaceX are provided by SpaceX API:</p>
            <p>
              Open Source REST API for rocket, core, capsule, pad, and launch data, created and maintained by the developers of the r/SpaceX organization
            </p>
            <small>
              Source: <a href="https://github.com/r-spacex/SpaceX-API">https://github.com/r-spacex/SpaceX-API</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="card mb-2 box-shadow">
      <div class="card-header">Mars Weather Informations</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p>All informations about Mars weather are provided by NASA API:</p>
            <p>
              NASA’s InSight Mars lander takes continuous weather measurements
              (temperature, wind, pressure) on the surface of Mars at Elysium
              Planitia, a flat, smooth plain near Mars’ equator.
            </p>
            <p>
              This API provides per-Sol summary data for each of the last seven
              available Sols (Martian Days). As more data from a particular Sol
              are downlinked from the spacecraft (sometimes several days later),
              these values are recalculated, and consequently may change as more
              data are received on Earth.
            </p>
            <small
              >Source:
              <a href="https://api.nasa.gov/">https://api.nasa.gov/</a></small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
