<div class="content" *ngIf="apiInfo">
	<div class="row">
		<div class="col-sm-12 description">
			<p>{{ apiInfo.description }}</p>
		</div>
	</div>

	<div class="row table-responsive">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Project name</th>
					<th scope="col">Version</th>
					<th scope="col">Project Link</th>
					<th scope="col">Docs</th>
					<th scope="col">Organization</th>
					<th scope="col">Organization Link</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ apiInfo.project_name }}</td>
					<td>{{ apiInfo.version }}</td>
					<td><a href="{{ apiInfo.project_link }}">{{ apiInfo.project_link }}</a></td>
					<td>{{ apiInfo.organization }}</td>
					<td><a href="{{ apiInfo.organization_link }}">{{ apiInfo.organization_link }}</a></td>
				</tr>
				<tr>
			</tbody>
		</table>
	</div>
</div>