.wrap-weather {
  background-color: rgba(0, 0, 0, 0.171);
}

.weather-title {
font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 767px) {
  .graph-weather {
    display: none;
    }
  }

