<div class="row" *ngIf="weather">
	<div class="col-sm-12 col-md-12">
		<div class="card mb-2 box-shadow">
			<div class="card-header weather-title h5">Latest Weather at Elysium Planitia</div>
			<div class="card-body">
				<div class="row ">
					<!-- Display only 4 last days -->
					<div class="col-md-3 py-3" *ngFor="let solKey of weather.sol_keys | slice:3:7; let isLast = last"[class.border-right]="!isLast">
						<div class="card-title">
							<h5>Sol {{ solKey }}</h5>
							<small>{{ weather[solKey].First_UTC | date:'EEEE d, MMMM yyyy' }}</small>
						</div>
						<div class="card-text table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td>Max</td>
										<td class="text-right">
											{{ weather[solKey].AT.mx }} °C
										</td>
									</tr>
									<tr>
										<td>Min</td>
										<td class="text-right">
											{{ weather[solKey].AT.mn }} °C
										</td>
									</tr>
									<tr>
										<td>Avg</td>
										<td class="text-right">
											{{ weather[solKey].AT.av }} °C
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-12 mt-3 py-3" *ngIf="dataAvailable">
						<h5 class="card-title weather-title">Mars weather 7 days report - {{ title }}</h5>
						<button class="btn btn-sm btn-success" (click)="toggleData()">Toggle data</button>
						<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
							[options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
							[chartType]="barChartType">
						</canvas>
						<p class="my-3" *ngIf="dataMissing">
							<ngb-alert [dismissible]="false">
								<strong>Warning!</strong>Data not yet available for every days
							</ngb-alert>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
